*.aux
*.log
*.out
*.fdb_latexmk
*.fls
*.synctex.gz
*.cproject
*.project
*.settings
**/build/**
**/install/**
scratch/**
supercomputer/**
theory/hydrodynamics-comparison/**
lab-journal/**
**/auto/**
*.ipynb_checkpoints
data/**
.cache/**
*.png
**/.vscode/**
*.el
