*.aux
*.log
*.out
*.synctex.gz
*.cproject
*.project
*.settings
**/build/**
**/install/**
scratch/**
supercomputer/**
theory/hydrodynamic-comparson/**
*.ipynb_checkpoints
data/**
.cache/**
*.png
**/.vscode/**
